*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "width" 100;
}

html, body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    all: unset;
    cursor: pointer;
}

/* Here begins the Header */
header{
    background-color: #1f2937;
}

.container {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    margin: 0 auto;
}

/* Logo */
.logo {
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
    color: #f9faf8;
}

.logo span {
    font-weight: lighter;
}

/* Menu */
.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
}

.menu a:hover {
    color: #dad9c0;
}

.menu a span {
    text-decoration: underline;
}

/* Main Content */
main {
    flex: 1; 
}

.main-hero {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.main-hero-container {
    display: flex;
    width: 1200px;    
    background-color: pink;
    height: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.main-hero-left {
    display: flex;
    
    color: #f9faf8;
    height: 100%;
    background-color: aqua;
    max-width: 50%;
    
}
.main-hero-left h1 {
    
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color:#1f2937;
    color: #f9faf8;
    height: 70px;
    font-size: 18px;
    font-weight: lighter;
    padding: 20px;
}

/* -------------CONTACT US PAGE--------------  */
.contact-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
}

.input-container {
    background-color: ghostwhite;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* CONTACT US - STYLING FOR MESSAGE FORM USER INPUT BLOCK ('row', 'input-group', 'input, textarea')*/
.row {
  display: flex;
  gap: 20px; 
}
.input-group {
  flex: 1; 
}
input, textarea {
  width: 95%;
  padding: 8px;
}

.contact-text {
    font-size: 16px;
    text-align: center;
    color: #333;
}

.button{/* CONTACT PAGE - SEND BUTTON FORMATTING */
    background-color:#3882F6;
    color: #f9faf8;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
 .button:hover { /*HOVER FOR SEND BUTTON */
    background-color:  #1f2937;
}

h1{
    text-align: center;
    text-decoration: underline;
}

h2{
    text-align: center;
    text-decoration: underline;
}

h3{
    text-align: center;
    padding: 5px;
    text-decoration: underline;
}

.destination-img {/* IMAGE FORMATTING */
    width: 280px;
    height: 300px;
    border-radius: 8px; /* ROUND BOARDERS */
}
.destination-grid {/* GRID FOR ALL DESTINATION CARDS */
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr)); /* 4 COLUMNS WITH MINIMUM WIDTH OF 200px AND MAXIMUM OF 1FR */
    gap: 20px; /*GAP BETWEEN EACH CARD */
    padding: 3px; /* SPACING AROUND THE GRID */
}
.destination-card {/* GREY CARD BOX AROUND EACH IMAGE AND TEXT */
    background-color: #F5F4F0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 1 10px 20px rgba(0, 0, 0, 0.1); /* SHADOW FOR 3D CARD EFFECT */
    text-align: center; /* CENTER TEXT WITHIN THE CARD BUT ONLY FOR THE CITY AND COUNTRY*/
}

.description {/* FORMATTING TEXT TO LOOK DIFFERENT TO CITY AND COUNTRY */
    font-size: 16px;
    color: #333;
    text-align: justify;
    padding: 10px;
}

.destination-price { /* PRICE FORMATTING */
    font-size: 18px;
    color: #3882F6;
    font-weight: bold;
}

.destination-days { /* DAYS FORMATTING */
    font-size: 14px;
    color: #333;
}